/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template/scrolling-nav)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

<style>
.aligncenter {
    text-align: center;
}
</style>
